.container {
  box-shadow: var(--shadow-dark);
  margin: 8rem auto;
  max-width: 120rem;
  // height: 50rem;
  background-color: var(--color-grey-light-1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--line);
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--color-white);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: var(--color-white);
}

.detail {
  display: flex;
  padding: 4.5rem;
  border-bottom: var(--line);
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  background-color: var(--color-white);
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
